@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
   
    --accent: #9DC08B;
    --border: #609966;
    --background: #40513B;
    --text-color: #eceff1;
        --background-color: #eceff1;
            --accent-color-1: #2E86C1;
            --accent-color-2: #27AE60;
            --accent-color-3: #F39C12;
            --accent-color-4: #8E44AD;
            --neutral-color-1: #34495E;
            --neutral-color-2: #E67E22;
            --neutral-color-3: #7F8C8D;
            --neutral-color-4: #BDC3C7;
}

/* CSS Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End of CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.PokeCard_Image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: var(--neutral-color-3);
    border-radius: 3px;
}
img {
    size: 300%;
}

.PokeCard {
    font-family: 'Poppins', sans-serif;
    width: 250px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    background-color: #fbfbfb;
    border-radius: 3px ;
}

.PokeCard-data{
    font-size: 80%;
}
